<link rel="stylesheet" href='/stylesheets/aboutme.css'>

<div class="header_nav_about">
    <div class="container_about">
        <nav>
            <div class="nav_links_about">
                <div class="nav_link_about">
                    <a href="/aboutme">Studies</a>
                </div>
                <div class="nav_link_about">
                    <a href="/Projects">Jobs</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="about_concent_container">
    <div class="about_studies_container">
        <h1>My Studies</h1>
        <div class="studies_div">
            <div class="study">
                <div class="study_img">
                    <img src="/images/about/xaverian.svg" alt="">
                </div>
                <div class="study_info">
                    <h3>Electronic Engineer</h3>
                    <h4 class="h4_styled">Pontifical Xaverian University</h4>
                    <h4>Bachelor</h4>
                    <h5>Bogotá, Colombia</h5>
                    <h5>2018</h5>
                    <!--button behavior based on: https://www.youtube.com/watch?v=c-4wFMGFuCg&ab_channel=FalconMasters-->
                    <button class="button_more" onclick="window.location='https://www.javeriana.edu.co/info-prg/carrera-ingenieria-electronica';"><span>more</span></button>
                </div>
            </div>
            <div class="study">
                <div class="study_img">
                    <img src="/images/about/xaverian.svg" alt="">
                </div>
                <div class="study_info">
                    <h3>Data Analytics</h3>
                    <h4 class="h4_styled">Pontifical Xaverian University</h4>
                    <h4>Course</h4>
                    <h5>Bogotá, Colombia</h5>
                    <h5>2019</h5>
                    <button class="button_more" onclick="window.location='https://educacionvirtual.javeriana.edu.co/anal%C3%ADtica-de-datos';"><span>more</span></button>
                </div>
            </div>
            <div class="study">
                <div class="study_img">
                    <img src="/images/about/platzi.svg" alt="">
                </div>
                <div class="study_info">
                    <h3>Web Development Basics</h3>
                    <h4 class="h4_styled">Platzi Online</h4>
                    <h4>Course</h4>
                    <h5>Bogotá, Colombia</h5>
                    <h5>2020</h5>
                    <button class="button_more" onclick="window.location='https://platzi.com/cursos/html-practico/';"><span>more</span></button>
                </div>
            </div>
            <div class="study">
                <div class="study_img">
                    <img src="/images/about/british.svg" alt="">
                </div>
                <div class="study_info">
                    <h3>IELTS</h3>
                    <h4 class="h4_styled">British Council</h4>
                    <h4>English Certificate</h4>
                    <h5>Bogotá, Colombia</h5>
                    <h5>2021</h5>
                    <button class="button_more" onclick="window.location='https://www.ielts.ca/?gclid=Cj0KCQiAys2MBhDOARIsAFf1D1e73LqyqM1xqmg902AVFM0UYVM0pLoIoK8wXYW-eG9pLObEdSdFo3QaAhpfEALw_wcB';"><span>more</span></button>
                </div>
            </div>
            <div class="study">
                <div class="study_img">
                    <img src="/images/about/pega.svg" alt="">
                </div>
                <div class="study_info">
                    <h3>Pega System Architect</h3>
                    <h4 class="h4_styled">Pega Systems Online</h4>
                    <h4>Certificate</h4>
                    <h5>Bogotá, Colombia</h5>
                    <h5>2021</h5>
                    <button class="button_more" onclick="window.location='https://academy.pega.com/mission/system-architect/v1';"><span>more</span></button>
                </div>
            </div>
            <div class="study">
                <div class="study_img">
                    <img src="/images/about/conestoga.svg" alt="">
                </div>
                <div class="study_info">
                    <h3>Mobile Solutions Dev</h3>
                    <h4 class="h4_styled">Conestoga College</h4>
                    <h4>Post Graduate Certificate</h4>
                    <h5>Waterloo, Canada</h5>
                    <h5>2021 -in progress-</h5>
                    <button class="button_more" onclick="window.location='https://www.conestogac.on.ca/fulltime/mobile-solutions-development';"><span>more</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="div_img_about">
        <img src="/images/about/cherry.svg" alt="cherry devider">
    </div>
    <div class="about_jobs_container">

    </div>
</div>