<link rel="stylesheet" href='/stylesheets/aboutme.css'>

<div class="header_nav_about">
    <div class="container_about">
        <nav>
            <div class="nav_links_about">
                <div class="nav_link_about">
                    <a href="/aboutme">Studies</a>
                </div>
                <div class="nav_link_about">
                    <a href="/Projects">Jobs</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="about_concent_container">
    <

</div>