<link rel="stylesheet" href='/stylesheets/contact.css'>

<section class=contact_form_section>
    <div class=contact_container>
        <div class="contact_form">
            <h2>Send me a message! <br> Let's work together</h2>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputName">Name</label>
                <input type="text" class="form-control" placeholder="Jhon Doe" id="inputName">
            </div>
            <div class="form-group">
                <label for="inputEmail" class="form-label mt-4">Email</label>
                <input type="email" class="form-control" id="inputEmail"
                    aria-describedby="emailHelp" placeholder="jhon.doe@mymail.com">
            </div>
            <div class="form-group">
                <label class="col-form-label mt-4" for="inputPhone">Phone</label>
                <input type="text" class="form-control" placeholder="(555) 555 5555" id="inputPhone">
            </div>
            <div class="form-group">
                <label for="textAreaMessage" class="form-label mt-4">Message</label>
                <textarea class="form-control" id="textAreaMessage" rows="3"></textarea>
            </div>
            <button type="submit" class="submit_button">
                <span>Let it go!</span>
            </button>
        </div>
    </div>
    <div class="social_media_index">
                <div class="social_media_links">
                    <div>
                        <a href="https://github.com/viviplc">
                            <img src="/images/index/github.svg" alt="Github
                                link">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com/vivi.plc95/">
                            <img src="/images/index/instagram.svg"
                                alt="Instagram
                                link">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/vivianaleyvacif/">
                            <img src="/images/index/linkedin.svg" alt="Linkedin
                                link">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.behance.net/vivianaleyvac1">
                            <img src="/images/index/behance.svg" alt="Behance
                                link">
                        </a>
                    </div>
                    <div>
                        <a href="mailto:vivi.plc95@hotmail.com">
                            <img src="/images/index/outlook.svg" alt="Outlook
                                link">
                        </a>
                    </div>
                </div>
            </div>
</section>

<div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>