<link rel="stylesheet" href='/stylesheets/projects.css'>

<div class="projects_section">
    <div class="projects_container">
        <div class="projects_title">
            <h1>I did this!</h1>
        </div>
        <div class="projects_buttons_section">
            <!-- button over image behavior based on: https://www.w3schools.com/howto/howto_css_button_on_image.asp-->
            <div class="project_button_container">
                <img src="/images/projects/tutramite_btn.svg" alt="TuTramite image">
                <button class="project_button" onclick="window.location='/projects/tuTramite';">
                    <span>TuTramite</span>
                </button>
            </div>
            <div class="project_button_container">
                <img src="/images/projects/capstone_btn.svg" alt="Capstone image">
                <button class="project_button" onclick="window.location='/projects/capstone';">
                    <span>Capstone</span>
                </button>
            </div>
            <div class="project_button_container">
                <img src="/images/projects/lopawlty_btn.svg" alt="Lopawlty image">
                <button class="project_button" onclick="window.location='/projects/lopawlty';">
                    <span>Lopawlty</span>
                </button>
            </div>
            <div class="project_button_container">
                <img src="/images/projects/bow_btn.svg" alt="BOW image">
                <button class="project_button" onclick="window.location='/projects/bow';">
                    <span>Bank of Waterloo</span>
                </button>
            </div>
        </div>
    </div>
</div>
