*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header_nav_about{
    width: 100%;
    top: 60px;
    left: 0;
    background: linear-gradient(to top, #9F5F7F, #C2849F, #9F5F7F);
    position: fixed;
    overflow: hidden;
    z-index: 100;
}

.header_nav_about .container_about{
    width: 15%;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.header_nav_about .nav_links_about{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav_link_about a{
    color: #37283B;

    text-decoration: none;
}

.nav_link_about a:hover, .nav_link_about a:active{
    border-bottom:4px solid #37283B;
}

.about_concent_container{
    margin-top: 100px;
    background: linear-gradient(to top, #E1B1B2, #fff);
    height: 100px;
}
