.contact_form_section{
    background: linear-gradient(to right, #14191C, #37283B);
    margin-top: 60px;
    padding-bottom: 50px;
    width: 100%;
}

.contact_container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
}

.contact_form{
    margin: auto;
    padding-top: 30px;
    width: 50%;
}

.contact_form h2{
    text-align: center;
    color: #C2849F;
}

.social_media_index{
    width: 40%;
    max-width: 1200px;
    margin: auto;
}

.social_media_links img{
    width: 30px;
    height: 31px;
}

