.index_banner{
    background: linear-gradient(to right, #14191C, #37283B);
    position: relative;
 
}

.index_banner_container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_title{
    align-content: center;
    justify-content: center;
    width: 40%;
}

.banner_title h2{
    color: #E1B1B2;
    font-style: italic;
    text-align: center;
    font-size: 55px;
    margin-bottom: 20px;
}

.banner_title h4{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner_title h5{
    text-align: center;
    margin-bottom: 20px;
}

.banner_title h6{
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.banner_title .social_media_index{
    width: 100%;
    text-align: center;
    align-items: center;
}

.banner_title .social_media_links{
    width: 45%;
    margin: 0px auto;
}

.banner_title img{
    width: 30px;
    height: 31px;
    margin-bottom: 20px;
}

.banner_image img{
    width: 550px;
    margin-top: 50px;
    margin-right: 100px;
    display: block;
}

.banner_image{
    animation: movement 4s linear infinite;
}

@keyframes movement{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.bubble{
    border-radius: 50%;
    background: #E1B1B2;
    opacity: .3;
    position: absolute;
    bottom: -50;
    
    animation: bubbling 0.1s linear infinite ;
}

.bubble:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.bubble:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.bubble:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.bubble:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.bubble:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.bubble:nth-child(6){
    width: 20px;
    height: 20px;
    left: 70%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.bubble:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.bubble:nth-child(9){
    width: 65px;
    height: 65px;
    left: 75%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.bubble:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes bubbling{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

.info_aboutme {
    background: linear-gradient(to top, #C5C5C5, #fff);
    padding: 50px;
}

.info_aboutme h1{
    text-align: center;
    font-style: italic;
    color: #37283B;

}

.info_aboutme p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.info_aboutme p mark{
    border-radius: 15%;
    background: #C2849F;
    color: #5F3557;
    font-size: 20px;
}

.info_images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.info_images img{
    width: 270px;
}

.stack_gallery_section{
    background: linear-gradient(to top, #14191C, #37283B);;
    padding: 40px;
}

.stack_gallery_section h1{
    color: #C2849F;
    font-style: italic;
    font-weight: bold;
    margin-left: 150px;
    margin-bottom: 30px;
}

.stack_container{
    width: 85%;
    margin: 0px auto;
}

.stack_carousel{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

.stack_slider {
    display: flex;
    height: 100%;
    width: 1400%;
    flex-shrink: 0;
    transition: all 0.5s;
}

.stack_img{
    flex-basis: 1.45%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack_img img{
    width: 150px;
}

.contact_form_section{
    background: linear-gradient(to top, #C5C5C5, #fff);
    padding-bottom: 40px;
}

.contact_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 40px;
}

.contact_container img{
    width: 500px;
}

.contact_form{
    width: 500px;
}

.contact_form h2{
    font-size: 45px;
    color: #37283B;
    font-style: italic;
}

.contact_form .form-label{ 
    margin-top: 10px!important;
}

.contact_form .col-form-label{
    margin-top: 5px!important;
}

.contact_form .btn-primary{
    background-color: #37283B;
    color: #E1B1B2;
    margin-top: 20px;
    width: 500px;
    border-color: #37283B;
    border-width: 5px;
}

.contact_form .btn-primary:hover{
    background-color: #9F5F7F;
    color: #37283B;
    border-color: #5F3557;
    border-width: 5px;
}

